<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.0.js'%}"></script>

    <script>
        function tijiao(){
            {#获取id = id1的值#}
            var id1var =  $("#id1").val();
            {#如果不为null   或者不为 ""#}
            if(id1var!=null && id1var!=""){

                $.ajax({
                 type: "post",
                 {# 数据来自于 17 行#}
                 url: "send_sms",
                    {#格式   json  传递数据给/login/ 视图#}
                 data: {
                     'username':id1var
                 },

                 dataType: "json",
                 success: function(data){
                     console.log(data);
                     alert("提交成功!");
                 }
             });
            }else{
                alert("不能为空");
            }
        }

  </script>

</head>
<body>
    <p>hello django</p>

    {#通过ajax给后端flask进行传递删数据#}
    username:<input id="id1" value="">
    <a href="javaScript:tijiao()">提交</a>
</body>
</html>